<!DOCTYPE html>

<html>
	<head>
		<title>Room Service</title>
	</head>
	
	<div style="display: inline" class="header">
		<p style="display: inline">Room Service</p>
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('add_rs_request') }}">Request Something...</a>
	</div>
	
	<hr>
	
	<div class="messages">
		{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				<b>{{ message }}</b>
			{% endfor %}
		
		{% endwith %}
	</div>

	<div class="main">
		{% block content %}{% endblock %}
	</div>

</html>
