{% extends "base.html" %}

{% block content %}
	<h1>Room Service</h1>

	<p>Room Service is our way of allowing you to request help and service for {{ event_info.event_name }}.</p>
	<p>Burning questions? Contact the administrator!</p>

{% endblock %}
