{% extends "base.html" %}


{% block content %}
	<h1>{{ title }}</h1>

	<form action="" method="POST">
		
		{{ form.hidden_tag() }}
		
		
		
		<div class="form_block">
			<p>{{ form.user_id.label }}</p>
			<p>{{ form.user_id(size=32) }}</p>
		</div>
	
		<div class="form_block">
			<p>{{ form.description.label }}</p>
			<p>{{ form.description(rows=25, cols=150) }}</p>
		</div>
	
		<div class="submit_block">
			<p>{{ form.submit }}</p>
		</div>
	
	
	
	</form>


{% endblock %}
